.order-page {
    width: 100%;
    height: auto;
  }
  
  .order-page .order-left {
    margin-top: 52px;
    /* margin-right: auto;
    margin-left: auto;
    text-align: center; */
  }
  
  .order-page .order-left .order-nav-frame {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .order-page .order-container {
    display: flex;
    flex-wrap: row;
    padding-bottom: 80px;
  }
  
  .order-page .order-right {
    margin-left: auto;
    margin-top: 120px;
    width: 380px;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  
  .order-page .order-right .user-frame {
    width: 380px;
    height: auto;
    padding: 15px 10px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    text-align: center;
    flex-direction: column;
    border-radius: 16px;
    background: #f8f8fe;
    box-shadow: 14px 14px 4px 0px #bcbcbf, 0px 0px 9px 14px #d3d3e7 inset,
      0px 4px 16px 0px rgba(242, 189, 87, 0.04) inset;
  }
  
  .order-page .order-right .user-img-wrapper {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 115px;
    height: 115px;
    position: relative;
  }
  
  .order-page .order-right .user-frame .user-img {
    margin-top: 10px;
    width: 115px;
    height: 115px;
    border-radius: 37px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .order-page .order-right .user-frame .person-icon-wrapper {
    position: absolute;
    bottom: -15px;
    right: 10px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .order-page .order-right .user-frame .person-icon {
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 37px;
  }
  
  .order-page .order-right .user-name {
    margin-top: 10px;
    font-family: "Commissioner", sans-serif;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    color: rgb(8, 9, 13);
  }
  
  .order-page .order-right .user-type {
    margin-bottom: 40px;
    font-family: "Commissioner", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    color: rgb(161, 161, 161);
  }
  
  .order-page .order-right .user-location-wrapper {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
  }
  
  .order-page .order-right .user-location-wrapper .user-address {
    margin-left: 10px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    color: rgb(0, 0, 0);
  }
  
  .order-page .order-right .payment-frame {
    margin-top: 30px;
    width: 380px;
    height: auto;
    padding: 20px 20px;
    display: flex;
    text-align: center;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    border-radius: 16px;
    background: #f8f8fe;
    box-shadow: 14px 14px 4px 0px #bcbcbf, 0px 0px 9px 14px #d3d3e7 inset,
      0px 4px 16px 0px rgba(242, 189, 87, 0.04) inset;
  }
  
  .order-page .order-right .input {
    margin-top: 10px;
    width: 100%;
    padding-right: 5px;
    padding-left: 5px;
    font-family: "Commissioner", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 240% */
    border-radius: 5px;
    border: 1px solid #b4aaaa;
    background: #f5f5f5;
    color: #777;
  }
  
  .order-page .order-right .input-wrapper {
    display: flex;
    align-items: center;
  }
  
  .order-page .order-right .input-50 {
    width: 166px;
  }
  
  .order-page .order-right .input-50:not(:last-child) {
    margin-right: 8px;
  }
  
  .order-page .order-right .cards-wrapper {
    margin-top: 65px;
  }
  
  .order-page .order-right .cards-wrapper .card-img:not(:last-child) {
    margin-right: 30px;
  }
  
  .order-page .table-panel {
    padding: 0;
  }
  
  .order-page .order-main-box {
    margin-top: 20px;
    width: 820px;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px 35px;
    border-radius: 16px;
    background: #f8f8fe;
    box-shadow: -12px 12px 4px 0px #bababf, 0px 4px 10px 9px #d3d3e7 inset,
      0px 4px 16px 0px rgba(242, 189, 87, 0.04) inset;
  }
  
  /* .order-page .order-container {
    display: flex;
  } */
  
  .order-page .order-main-box .order-box-scroll {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
  }
  
  .order-page .order-main-box .order-box-scroll .orders-name-price {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .order-page
    .order-main-box
    .order-box-scroll
    .orders-name-price
    .order-dish-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .order-page .order-main-box .order-box-scroll .orders-name-price .title-dish {
    margin: 0;
    font-family: "Commissioner" sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    color: rgb(0, 0, 0);
  }
  
  .order-page .order-main-box .order-box-scroll .orders-name-price .price-box {
    display: flex;
    flex-wrap: row;
    align-items: center;
    margin-left: auto;
  }
  
  .order-page .order-main-box .order-box-scroll .orders-name-price .price-box p {
    margin: 0;
    font-family: "Poppins" sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    color: rgba(38, 38, 38, 0.88);
  }
  
  .order-page .order-main-box .total-price-box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .order-page .order-main-box .total-price-box .box-total {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .order-page .order-main-box .total-price-box .box-total .box-total-text {
    margin: 0;
    font-family: "Commissioner" sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0%;
    color: rgb(0, 0, 0);
  }
  
  .order-page .order-main-box .total-price-box .box-total .box-total-number {
    margin: 0;
    margin-left: 20px;
    font-family: "Commissioner", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    color: rgb(38, 38, 38);
  }
  
  .order-page .order-main-box .total-price-box .buttons-wrapper {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .order-page
    .order-main-box
    .total-price-box
    .buttons-wrapper
    .paused-btn-cancel {
    border-radius: 10px;
    margin-right: 50px;
  }
  
  .order-page
    .order-main-box
    .total-price-box
    .buttons-wrapper
    .paused-btn-payment {
    width: 91.2px;
    height: 36.5px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(112, 180, 91);
    color: rgb(255, 255, 255);
    font-family: "Commissioner", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0%;
  }
  
  .order-page .order-main-box .total-price-box .buttons-wrapper .data {
    margin: 0;
    margin-right: 15px;
    font-family: " Commissioner", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #000;
  }
  
  .order-page .order-main-box .total-price-box .buttons-wrapper .process-button {
    padding: 10px 15px;
    border-radius: 10px;
    background: #3a87cb;
    color: #fff;
    font-family: "Commissioner", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }